:root {
  /* --clr-accent-1: #040303; */
  --clr-accent-1: #161616;
  --clr-accent-2: #151515;
}

body{
  background-color: var(--clr-accent-1);
}

.bg-accent-2{
  background-color: var(--clr-accent-2);
}